.titleRewards {
    font-size: clamp(15px, 1.25vw, 22px);
    margin: 1rem;
    text-shadow: #36205d49 !important;
    color: #36205d !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pointsCard {
    border-radius: 2.5rem !important;
    max-height: 70px;
    min-width: 200px !important;
    background-color: #36205db9 !important;
    justify-content: center !important;
    align-items: center !important;
}

.pointsCard .points {
    font-size: clamp(13px, 2vw, 20px);
    color: aliceblue;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     position: relative;
    bottom: 25px;
    /*margin-left: 5px !important; */
}

.CardReward {
    border-radius: 1.25rem !important;
    background-color: #f1f1f1 !important;
    box-shadow: 2px 4px 10px #36205d3b !important;
    max-width: 275px !important;
    min-width: 200px !important;
    padding: 10px;
    justify-items: center !important;
    justify-content: center !important;

}

.CardReward:hover {
    background-color: #9f77e433 !important;
    transition: ease-in 0.5s !important;
    transform: scale(1.05);
}

.CardHeaderReward {
    color: #36205d !important;
    font-size: clamp(8px, 0.25vw, 12px) !important;
    /* margin-bottom: 3px !important; */
    max-height: 30px !important;
}

.RedeemBTN {
    background-color: #32bd8a !important;
    margin: 0.05rem !important;
    min-width: 100px !important;
}

.CardActionsReward {
    margin-top: 10px !important;
    margin-bottom: 6px !important;

}

.CardMediaReward {
    height: 128px !important;
    max-height: 128px !important;
    width: 128px !important;
    margin: 4px !important;
    background-position-x: center !important;
}

.howToGetReward {
    color: #36205d;
    margin-top: 1rem !important;

}

.howToGetReward .RewardDetails {
    font-size: clamp(15px, 1vw, 20px) !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.RewardsCardsContainer {
    display: flex;
    flex-wrap: wrap;
}

.CoinIconReward {
    margin-top: 0.5rem !important;
    margin-left: 1.5rem !important;
    width: 30px !important;
}

.CoinAmountReward {
    font-weight: 600 !important;
    font-size: 1.5rem;
    margin-bottom: 1rem !important;
    color: #36205d !important;
    position: relative;
    bottom: 5px;
}

.CardGiftcardIconReward{
    font-size: clamp(25px, 2vw, 30px) !important;
    color: #fff !important;
}