.cursor {
    background-image: url('./images/cursor.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 20px;
    height: 20px;
    transform: rotate(150deg);
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999;
  }

  *{
    cursor: none;
  }